<a href="https://colab.research.google.com/github/jmsmg/TIL/blob/main/Python/data_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 모델 추상화

- 데이터 모델 설계
- named_tuple
- model unpacking

---

- 객체 -> 파이썬의 데이터를 추상화
- 모든 객체 -> id, type -> value

In [4]:
from typing import NamedTuple
# 일반적인 튜플
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)

from math import sqrt

l_leng1 = sqrt((pt1[0]-pt2[0]) ** 2 + (pt1[1]-pt2[1]) ** 2)

print(l_leng1)

# 네임드 튜플 사용
# 튜플인데 딕셔너리와 유사함 key : value 사용

from collections import namedtuple

# 네임드 튜플 선언
point = namedtuple('point', 'x y')

pt3 = point(1.0, 5.0)
pt4 = point(2.5, 1.5)

print(pt3)
print(pt4)

l_leng2 = sqrt((pt3.x-pt4.x) ** 2 + (pt3.y - pt4.y) ** 2)

print(l_leng2)

# 네임드 튜플 선언 방법
point1 = namedtuple('point', ['x', 'y'])
point2 = namedtuple('point', 'x, y')
point3 = namedtuple('point', 'x y')
point4 = namedtuple('point', 'x y x class', rename=True) # 잘 쓰이지 않음 default = False

# 출력
print(point1, point2, point3, point4)

# dict to unpacking
temp_dict = {'x': 75, 'y' : 55}

# 객체 생성
p1 = point1(x=10, y=35)
p2 = point2(20, 40)
p3 = point3(45, y=20)
p4 = point4(10, 20, 30, 40)
p5 = point3(**temp_dict)

print('---------')

print(p1)
print(p2)
print(p3)

# rename 테스트
print(p4)
print(p5)

# 사용 
print(p1[0] + p2[1])
print(p1.x + p2.y)

# unpacking
x, y = p3

# 네임드 튜플 메소드
temp = [52, 38]

# _make() : 새로운 객체 생성
p4 = point1._make(temp) # 리스트 -> 네임드 튜플 변환

print(p4)

# _fields() : 필드 네임 확인

print(p1._fields, p2._fields, p3._fields)

# _asdict() : OrderedDict 반환
print(p1._asdict())
print(p4._asdict())


# 실 사용 실습
# 반 20명, 4개의 반(A, B, C, D)

classes = namedtuple('classes', ['rank', 'number'])

# 그룹 리스트 선언
numbers = [str(n) for n in range(1, 21)]
ranks = 'A B C D'.split()

# List Comprehension

students = [classes(rank, number) for rank in ranks for number in numbers]

# List Comprehension 추천
students2 = [classes(rank, number)
            for rank in 'A B C D'.split()
              for number in [str(n)
                for n in range(1, 21)]]

print(len(students2))
print(students2)

for s in students2:
  print(s)

3.8078865529319543
point(x=1.0, y=5.0)
point(x=2.5, y=1.5)
3.8078865529319543
<class '__main__.point'> <class '__main__.point'> <class '__main__.point'> <class '__main__.point'>
---------
point(x=10, y=35)
point(x=20, y=40)
point(x=45, y=20)
point(x=10, y=20, _2=30, _3=40)
point(x=75, y=55)
50
50
point(x=52, y=38)
('x', 'y') ('x', 'y') ('x', 'y')
OrderedDict([('x', 10), ('y', 35)])
OrderedDict([('x', 52), ('y', 38)])
80
[classes(rank='A', number='1'), classes(rank='A', number='2'), classes(rank='A', number='3'), classes(rank='A', number='4'), classes(rank='A', number='5'), classes(rank='A', number='6'), classes(rank='A', number='7'), classes(rank='A', number='8'), classes(rank='A', number='9'), classes(rank='A', number='10'), classes(rank='A', number='11'), classes(rank='A', number='12'), classes(rank='A', number='13'), classes(rank='A', number='14'), classes(rank='A', number='15'), classes(rank='A', number='16'), classes(rank='A', number='17'), classes(rank='A', number='18'), classes(rank='A', number='19'), classes(rank='A', number='20'), classes(rank='B', number='1'), classes(rank='B', number='2'), classes(rank='B', number='3'), classes(rank='B', number='4'), classes(rank='B', number='5'), classes(rank='B', number='6'), classes(rank='B', number='7'), classes(rank='B', number='8'), classes(rank='B', number='9'), classes(rank='B', number='10'), classes(rank='B', number='11'), classes(rank='B', number='12'), classes(rank='B', number='13'), classes(rank='B', number='14'), classes(rank='B', number='15'), classes(rank='B', number='16'), classes(rank='B', number='17'), classes(rank='B', number='18'), classes(rank='B', number='19'), classes(rank='B', number='20'), classes(rank='C', number='1'), classes(rank='C', number='2'), classes(rank='C', number='3'), classes(rank='C', number='4'), classes(rank='C', number='5'), classes(rank='C', number='6'), classes(rank='C', number='7'), classes(rank='C', number='8'), classes(rank='C', number='9'), classes(rank='C', number='10'), classes(rank='C', number='11'), classes(rank='C', number='12'), classes(rank='C', number='13'), classes(rank='C', number='14'), classes(rank='C', number='15'), classes(rank='C', number='16'), classes(rank='C', number='17'), classes(rank='C', number='18'), classes(rank='C', number='19'), classes(rank='C', number='20'), classes(rank='D', number='1'), classes(rank='D', number='2'), classes(rank='D', number='3'), classes(rank='D', number='4'), classes(rank='D', number='5'), classes(rank='D', number='6'), classes(rank='D', number='7'), classes(rank='D', number='8'), classes(rank='D', number='9'), classes(rank='D', number='10'), classes(rank='D', number='11'), classes(rank='D', number='12'), classes(rank='D', number='13'), classes(rank='D', number='14'), classes(rank='D', number='15'), classes(rank='D', number='16'), classes(rank='D', number='17'), classes(rank='D', number='18'), classes(rank='D', number='19'), classes(rank='D', number='20')]
classes(rank='A', number='1')
classes(rank='A', number='2')
classes(rank='A', number='3')
classes(rank='A', number='4')
classes(rank='A', number='5')
classes(rank='A', number='6')
classes(rank='A', number='7')
classes(rank='A', number='8')
classes(rank='A', number='9')
classes(rank='A', number='10')
classes(rank='A', number='11')
classes(rank='A', number='12')
classes(rank='A', number='13')
classes(rank='A', number='14')
classes(rank='A', number='15')
classes(rank='A', number='16')
classes(rank='A', number='17')
classes(rank='A', number='18')
classes(rank='A', number='19')
classes(rank='A', number='20')
classes(rank='B', number='1')
classes(rank='B', number='2')
classes(rank='B', number='3')
classes(rank='B', number='4')
classes(rank='B', number='5')
classes(rank='B', number='6')
classes(rank='B', number='7')
classes(rank='B', number='8')
classes(rank='B', number='9')
classes(rank='B', number='10')
classes(rank='B', number='11')
classes(rank='B', number='12')
classes(rank='B', number='13')
classes(rank='B', number='14')
classes(rank='B', number='15')
classes(rank='B', number='16')
classes(rank='B', number='17')
classes(rank='B', number='18')
classes(rank='B', number='19')
classes(rank='B', number='20')
classes(rank='C', number='1')
classes(rank='C', number='2')
classes(rank='C', number='3')
classes(rank='C', number='4')
classes(rank='C', number='5')
classes(rank='C', number='6')
classes(rank='C', number='7')
classes(rank='C', number='8')
classes(rank='C', number='9')
classes(rank='C', number='10')
classes(rank='C', number='11')
classes(rank='C', number='12')
classes(rank='C', number='13')
classes(rank='C', number='14')
classes(rank='C', number='15')
classes(rank='C', number='16')
classes(rank='C', number='17')
classes(rank='C', number='18')
classes(rank='C', number='19')
classes(rank='C', number='20')
classes(rank='D', number='1')
classes(rank='D', number='2')
classes(rank='D', number='3')
classes(rank='D', number='4')
classes(rank='D', number='5')
classes(rank='D', number='6')
classes(rank='D', number='7')
classes(rank='D', number='8')
classes(rank='D', number='9')
classes(rank='D', number='10')
classes(rank='D', number='11')
classes(rank='D', number='12')
classes(rank='D', number='13')
classes(rank='D', number='14')
classes(rank='D', number='15')
classes(rank='D', number='16')
classes(rank='D', number='17')
classes(rank='D', number='18')
classes(rank='D', number='19')
classes(rank='D', number='20')