# 1. [문제](https://www.notion.so/1-0243c9d83a234e70b6e9d357a57bda21)

섬으로 향하라!

```python
'   + -- + - + -   '
'   + --- + - +   '
'   + -- + - + -   '
'   + - + - + - +   '
```

해(**1**)와 달(**0**),
Code의 세상 안으로!(**En-Coding**)

---

# 2. 리스트화

In [ ]:
text = ['   + -- + - + -   ',
        '   + --- + - +   ',
        '   + -- + - + -   ',
        '   + - + - + - +   ']

# 3. 공백제거 및 진법 전환
- 내장함수
  - strip() 양쪽공백제거
    - lstrip() 왼쪽 공백제거, rstrip() 오른쪽 공백제거
  - replace(' ',''))

  - int(숫자, 진법)

In [ ]:
for i in text:
  print(int(i.strip().replace(' ','').replace('+','1').replace('-','0'), 2))

74
69
74
85

# 4. 숫자, 문자 전환
- ord() : 문자 -> 숫자
- chr() : 숫자 -> 문자

In [ ]:
for i in text:
  print(chr(int(i.strip().replace(' ','').replace('+','1').replace('-','0'), 2)))

J
E
J
U

# 5. for문 활용으로 리스트 원소화
- l = [] (빈 리스트 생성)
- for i in text:
-  l.append(문구)

In [ ]:
l = []
for i in text:
  l.append(chr(int(i.strip().replace(' ','').replace('+','1').replace('-','0'), 2)))

In [ ]:
l

['J', 'E', 'J', 'U']

# 6. 각각의 원소를 문자열로 합치기
- ''.join(리스트)
  > '.join(리스트)를 이용하면 매개변수로 들어온 ['a', 'b', 'c'] 이런 식의 리스트를 'abc'의 문자열로 합쳐서 반환

- '구분자'.join(리스트)
  > '_'.join(['a', 'b', 'c']) 라 하면 "a_b_c" 와 같은 형태로 문자열을 만들어서 반환

In [ ]:
''.join(l)

'JEJU'

---

# 7. 다른 방식
- list comprehension 활용

In [ ]:
[i for i in text]

['   + -- + - + -   ',
 '   + --- + - +   ',
 '   + -- + - + -   ',
 '   + - + - + - +   ']

In [ ]:
''.join([chr(int(i.strip().replace(' ','').replace('+','1').replace('-','0'), 2)) for i in text])

'JEJU'

---

# 8. List comprehension, f-string 활용 구구단 출력

In [ ]:
[i for i in range(2,10) if i % 2 == 0]

[2, 4, 6, 8]

In [3]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

# 9. 함수
- map
- zip
- zfill()
  - 앞에 0을 채워 자릿수만 맞춰줌 (2진 연산에서 활용)

In [3]:
'111'.zfill(15)

'000000000000111'